GRAFANA_BASE_URL="https://your-grafana-instance.com"
GRAFANA_API_KEY="your_grafana_api_key_here"


# Loki Cloud Ingestion (Basic Auth)
LOKI_PUSH_URL="https://your-loki-instance.com/loki/api/v1/push"
LOKI_USER_ID="your_loki_user_id_here"
LOKI_API_KEY="your_loki_api_key_here"

export GEMINI_API_KEY="AIzaSyYourGeneratedKeyHere"


prometheus.remote_write "metrics_hosted_prometheus" {
   endpoint {
      name = "metrics_hosted_prometheus"
      url  = "https://your-prometheus-instance.com/api/v1/write"
  
      basic_auth {
        username = "your_grafana_username_here"
        password = "your_grafana_api_key_here"
      }
   }
}